<nav *ngIf="Logged == true" class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="btn btn-primary m-2" id="menu-toggle" (click)="toggleing()"><i class="fa fa-align-justify"
      aria-hidden="true"></i>
  </button>
  <a class="navbar-brand text-primary" href="#">Pharmacy</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/Home']" routerLinkActive="router-link-active">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
    </ul>

    <span [routerLink]="['/register']" routerLinkActive="router-link-active"class="text-primary m-2" >{{Logged == true? "" : 'Register'}}</span>
    <span class="text-primary m-2"> {{Logged == true? "Hi,"+userData : ''}}</span>
    <span [routerLink]="['/login']" routerLinkActive="router-link-active" class="text-primary m-2" > {{Logged == true? '' : 'Login'}}</span>
    <span (click)="logout()" class="text-primary m-2">{{Logged == true? 'Log Out' : ''}}</span>

  </div>
</nav>